
problemsets/.DS_Store
public_data/.DS_Store
activities/.DS_Store
.DS_Store
activities/.ipynb_checkpoints/00_classquestions-blank-checkpoint.ipynb
activities/.ipynb_checkpoints/01_example_plotting_blank-checkpoint.ipynb
